<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @bano.descripcion %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @bano.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @bano.longitud %>
</p>

<%= link_to 'Edit', edit_bano_path(@bano) %> |
<%= link_to 'Back', banos_path %>
